.cart__conteiner {
    max-width: 750px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
   
  .item {
    height: auto;
    background: white;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    gap: 15px;
  }

  .info {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .info__name,
  .info__details {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .info__name span:first-child {
    font-weight: 700;
    text-transform: capitalize;
  }

  .info__description {
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    padding: 5px 0;
  }

  .delete-btn {
    display: inline-block;
    Cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("../../assets/delete.png") no-repeat center;
  }
   
  .image img {
    height: 100px;
    max-width: 100px;
    object-fit: contain;
    border-radius: 5px;
  }
   
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }

  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quantity .amount {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  .item button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
   
  button:focus {
    outline:0;
  }

  .price {
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
  }